#episode-description, #now-playing, #episodes, #about {
  width: 100%;
  flex-basis: auto;

  @mixin atSmall {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
  }

  @mixin atLarge {
    margin: 0;
  }

}

#now-playing {
  @mixin atLarge {
    width: 100%;
  }
}

#episode-description {
  @mixin atLarge {
    width: 46%;
    order: 2;
    align-self: flex-start;
  }
}

#episodes {
  @mixin atLarge {
    width: 46%;
    order: 1;
  }
}

#about {
  @mixin atLarge {
    order: 3;
  }
}

main {
  height: 100%;
}