@define-mixin atSmall {
  @media (min-width: 645px) {
    @mixin-content;
  }
}

@define-mixin atMed {
  @media (min-width: 992px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 1160px) {
    @mixin-content;
  }
}

@define-mixin clearFix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}